[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(218, 226, 223);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(51, 55, 69);
    position: absolute;
    margin: 0;
    top: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

header{
    text-align: center;
    background-color: #805e73;
    height: 100%;
    width: 250px;
    max-width: 250px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    height: 80%;
    gap: 10px;
    width: 250px;
}

.menu li{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding-right: 9px;
    padding-left: 9px;
    list-style-type: none;
    cursor: pointer;
    width: 150px;
}

.menu li:hover{
    border: 1px solid black;
    border-radius: 10px;
    color: rgb(218, 226, 223);
    background-color: rgb(51, 55, 69);
}

.tab-content{
    height: 100%;
    text-align: center;
}

.tab-style{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#about{
    height: 80%;
}

#about img{
    margin-left: 30px;
    border: 3px solid rgb(51, 55, 69);
    border-radius: 35%;
}

.p-style{
    margin-left: 50px;
    margin-right: 50px;
    text-align: start;
}

.h1-style{
    padding: 50px;
}

#about .about-style{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.link-resume{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 150px;
    width: 300px;
}

.link-resume a{
    text-decoration: none;
    color:rgb(218, 226, 223);
    border: 3px solid rgb(218, 226, 223);
    border-radius: 30px;
    background-color: rgb(51, 55, 69);
    padding: 20px;
    width: 100px;
    text-align: center;
}

.link-resume a:hover{
    background-color: rgb(218, 226, 223);
    color:rgb(51, 55, 69);
    border: 3px solid rgb(51, 55, 69);
}